/*color*/
.color {
  color: #ff0000;
}
/*convert*/
.convert {
  transition: all 9000ms linear;
  height: 140mm;
  min-height: 8;
}
/*data-uri*/
/*unit*/
.unit {
  width: 10px;
  height: 10rem;
  min-width: 10%;
}
